h1{
    position: relative;
    top:30px;
    text-align: center;
    border: 2px solid green;
    background-color: aquamarine;
    color:cornflowerblue;
    height: 50px;
    font-size: 45px;
}
h2{
    position: relative;
    top:30px;
    text-align: center;
    border: 2px solid green;
    background-color: aquamarine;
    color:cornflowerblue;
    height: 50px;
    font-size: 45px;
}
.menu ul{
    list-style: none;
    padding: 0;
}
.menu{
    position:absolute;
    top: 10px;
    left: 25%;
    z-index: 1;
    
}
.menu a{
    color:darkblue;
    border: solid blue 5px;
    background-color: lightblue;
    font-size: 30px;
    text-decoration-color: aqua;
}
.menu li,.menu ul{
    display: inline;
}
.fall{
    position: relative;
    left:300px
}
.fall{
    font-size: 35px;
}
.games{
    text-decoration:underline;
}
.games{
    position: relative;
    left:300px
}
main{
    width: 900px;
    margin: 0 auto;
    font-size: 25px
}
.mail{
    position: relative;
    float: right;
    bottom: 80px;
}
